@font-face {
    font-family: 'easesemi';
    src:    url('assets/fonts/semi.woff');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'easebold';
    src:    url('assets/fonts/bold.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'easereg';
    src:    url('assets/fonts/regular.woff');
    font-weight: normal;
    font-style: normal;
}

html{
    margin:0;
    font-size: 10px;
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    margin: 0;
    margin-left: -1;
    padding: 5rem;
}

main{
    width: 98vw;
    margin: 1rem;
}

.heading-container{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    height: 100vh;
}

.heading{
    color: #D9D9D9;
    font-family: 'easebold';
    font-size: 22rem;
    animation: fadeIn 2s ease-in forwards, textColorChangeGray 300s infinite;
  
}

.date-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    font-size: 5rem;
}

.footer{
    color: #D9D9D9;
    font-family: 'easesemi';
    font-size: 0.9rem;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding-top: 0.3rem
}

.hidden{
    display:none;
}


.button-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.button-container button {
    font-family: 'easesemi';
    background-color: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-container button:hover {
   color: #F44840; 
}

.description-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* looked online to find how to make a grid responsive w/o media queries */
    grid-gap: 20px; 
    justify-content: center; 
}

.description{
    font-family: 'easereg';
    line-height: 0.8rem;
    font-size: 0.6rem;
    padding-bottom: 2rem;
    overflow-x: hidden;
    color:black;
    animation: textColorChange 300s infinite;
 
}


.date{
    font-size: 0.6rem;
    font-family: 'easesemi';
    line-height: 2rem;
    color: black;
    animation: textColorChange 300s infinite;
}

.low-opacity {
    opacity: 0.3;
}

body {
    color: #FFFFFF;
    animation: backgroundColorChange 300s infinite;

}

@keyframes backgroundColorChange {
    0%{ background-color: #FFFFFF; }
    50% { background-color: #B5CBCE; }
    100% { background-color: #FFFFFF; }
}

@keyframes textColorChange {
    0%{color: black; }
    50% {color: #F44840; }
    100% {color: black; }
}

@keyframes textColorChangeGray{
    0%{color: #D9D9D9; }
    50% {color: #F44840; }
    100% {color: #D9D9D9; }
}

@keyframes fadeIn {
    0%{opacity: 0; }
    100% {opacity: 1;}
}



@media screen and (max-width: 499px){
    .button-container button {
        font-size: 1rem;
    }
   .description, .date{
    font-size: 0.8rem;
    line-height: 1rem;
   }
   .heading{
    font-size: 5rem
   }
   .heading-container{
    padding-bottom: 1rem;
    width: 90vw;
   }
   .description-container, .button-container{
    width: 85vw;
   }
}
